.profile-icon {
	width: 75px;
    height: 75px;
}

.small-icon{
    height: 32px;
    width: 32px;
}

.small-box{
    height: 30px;
    width: 100px;
}

.event-img{
    height: 350px;
    width: 600px;
}

.profile-card{
    height: 180px;
    width: 130px;
}

.event-card-img{
    height: 150px;
    width: 238px;
}

.event-card{
    height: 24rem;
    width: 15rem;
}

.bg-pink{ background-color: #e83e8c;
}

.padding-top50{
    padding-top: 50px;
}

.padding-top25{
    padding-top: 25px;
}

.padding-top75{
    position: absolute;
    left: 20px;
    top: 320px;
}
.z-index-below{
    z-index: 1;
}

.z-index-top{
    z-index: 2;
}