.profile-icon {
	width: 75px;
    height: 75px;
}

.small-icon{
    height: 40px;
    width: 40px;
}
.event-img{
    height: 350px;
    width: 600px;
}

.profile-card{
    height: 180px;
    width: 130px;
}

